* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    padding: 70px 70px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
}

#task2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#button1 {
    color: rgb(49, 133, 197);
}

#button2 {
    color: rgb(238, 147, 179);
}

#button3 {
    color: rgba(111, 60, 27, 0.754);
}

#task3, #task4{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}